*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

:root {
    --dark-bg: #1C1C28;
    --accent: #28293D;
}

body {
    background-color: var(--dark-bg);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

h1 {
    text-align: center;
    background-color: var(--dark-bg);
    padding: 10px 20px;
    border-radius: 15px;
    margin-bottom: 15px;
}

h3 {
    color: #C2C3C5;
    text-align: center;
}

/*Container for entire prompt application*/
.container {
    background-color: var(--accent);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 40px 2px black;
    width: 600px;
    max-width: 80%;
}

.question {
    margin: 40px;
    background-color: var(--dark-bg);
    border-radius: 15px;
    padding: 20px;
}

/*Answer Button Styles - hover element and colors*/
.answer-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 20px 0;
}

.btn {
    padding: 10px 5px;
    border-radius: 5px;
    border: none;
    color: white;
    font-weight: bold;
    font-size: 15px;
}

/*Allow individual colors and hovers for each button element*/
.btn:nth-child(1) {
    background-color: #FCCC75;
}
.btn:nth-child(2) {
    background-color: #57EBA1;
}
.btn:nth-child(3) {
    background-color: #FF8080;
}
.btn:nth-child(4) {
    background-color: #DDA5E9;
}

.btn:hover {
    background-color: #6698FF;
}

/*Prompt Button Styles*/
.start-next {
    display: flex;
    justify-content: center;
    align-items: center;
}

#start, #next, #submit{
    font-size: 30px;
    padding: 30px 50px;
    border-radius: 5px;
    border: none;
    margin: 10px;
    background-color: #6698FF;
    color: white;
    justify-content: space-around;
    transition: .5s ease;
}

#start:hover, #next:hover, #submit:hover{
    transition: .5s ease;
    background-color: #FF8080;
}

/*Highscore screen style*/
.scores-container {
    background-color: var(--dark-bg);
    padding: 20px;
    border-radius: 15px;
}

.name-input {
    display: flex;
    width: 100%;
    border-radius: 15px;
    background-color: var(--dark-bg);
    border: none;
    padding: 10px;
    margin-bottom: 20px;
    text-align: center;
    color: #757575;
    font-size: 20px;
}

.name-input:focus {
    outline: none;
    background-color: rgba(102, 153, 255, 0.52);
    color: white;
}

.high-score h3 {
    padding-bottom: 20px;
    font-size: 25px;
    background-color: var(--dark-bg);
    padding: 20px;
    border-radius: 15px;
    margin-bottom: 20px;
}

.high-score p {
    text-align: center;
    color: #C2C3C5;
    margin-bottom: 20px;
}

.scores {
    margin-left: 15px;
    padding: 5px;
    list-style: none;
    text-align: center;
    margin-top: 10px;
    padding-bottom: 20px;
    line-height: 3;
}


.submit-container {
    display: flex;
    justify-content: center;
}

.submit-score {
    text-align: center;
    margin-top: 20px;
    padding: 10px 5px;
    border-radius: 5px;
    border: none;
    color: white;
    font-weight: bold;
    font-size: 15px;
    background-color: #FF8080;
    transition: .5s;
}

.submit-score:hover {
    background-color: #6698FF;
    transition: .5s;
}

.submit-score:active {
    background-color: #FF8080;
    transition: 0s;
}

.back-btn {
    text-align: center;
    margin: 0 0 20px;
    padding: 5px 5px;
    border-radius: 5px;
    border: none;
    color: white;
    font-weight: bold;
    font-size: 15px;
    background-color: #DDA5E9;
    transition: .5s;
    width: 80px;
    transition: .5s;
}

.back-btn:hover {
    background-color: #6698FF;
    transition: .5s;
}

/*Time Container Style*/
.time-container {
    text-align: center;
    margin-bottom: 30px;
}

/* correct and wrong answer prompt style*/
.correct-answer {
    margin-top: 30px;
    margin-bottom: 20px;
    color: #57EBA1;
}

.wrong-answer {
    margin-top: 30px;
    margin-bottom: 20px;
}


/*Hide/show class attribute to show buttons*/
.hide {
    display: none;
}